# Entorno
.venv/
venv/
__pycache__/
*.pyc
Extractor/data/logs
Extractor/data/raw/osm_provincias_cache
# Secretos
.env

# Datos (opcional: comenta estas líneas si SÍ quieres versionar los CSV generados)
Extractor/data/processed/*
!Extractor/data/processed/pois_espana_osm.parquet
!Extractor/data/processed/.gitkeep
!Extractor/data/raw/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
tfm-turismo-espana.zip
# Sistema
.DS_Store
.idea/
.vscode/
*.log
.agents/
